.w3-btn {
	height: 100%;
	font-size: 25;
}

div.w3-center.w3-margin {
	font-size: 22;
}

div.info {
	font-size: 16;
	color: grey;
	margin-top: 4%;
	margin-left: 10%;
	padding-bottom: 20px;
}

div.info:first-child {
	margin-left: 20%;
}

p.i {
	margin-top: -5%;
	margin-left: -5%;
	font-size: 38;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	float: left;
}

form {
	margin-top:2%;
}

hr{
	width: 80%;
	margin-left: 10%;
	margin-top: 20%;
	border: 1px solid black;
}

.search {
	margin-top: 10%;
}

.row {
	display: inline-block;
	width: 32.5%;
}

.graph {
	margin: 3% 20% 5% 20%;
	width: 60%;
	height: 500px;
	opacity: 0.8;
	background-color: black;
}

h2 {
	margin-top: 15%;
	margin-left: -10%;
}

input {
	margin-bottom: 10%;
	width: 100%;
	height: 100%;
	margin-top: 1px;
}

.loader {
  	margin-left: 45%;
  	margin-top: 17%;
  	border: 16px solid #f3f3f3; /* Light grey */
  	border-top: 16px solid #3498db; /* Blue */
  	border-radius: 50%;
  	width: 120px;
  	height: 120px;
  	animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* monitors and laptops */ 
@media screen and (min-width: 1240px) {
	form.button {
		height: 10%;
		margin-top: 5%;
	}
	form.button:first-child {
	margin-top: 5%;
	}
	div.info {
	height: 100%;
	}
	h2 {
		margin-top: 3%;
		margin-left: 3%;
	}
	hr {
		margin-top: 10%;
	}
	#info-side {
	margin-top: 15%;
}

} 
/* tablet */ 
@media screen and (min-width: 1024px) and (max-width: 1240px) {
	form.button {
		height: 4%;
		margin-top: 5%;
	}
	form.button:first-child {
	margin-top: 10%;
	}
	div.info {
	height: 100%;
	}
	#info-side {
	margin-top: 15%;
}
} 
@media screen and (min-width: 768px) and (max-width: 1024px) {
	form.button {
		height: 4%;
		margin-top: 5%;
	}
	form.button:first-child {
	margin-top: 10%;
	}
	div.info {
	margin-left: 20%;
	}
	input {
		margin-bottom: 20%;
	}
	#info-side {
	margin-top: 25%;
	margin-left: -5%;
	}
} 
/* mobile */ 
@media screen and (max-width: 768px) {
	form.button {
		height: 4%;
		margin-top: 5%;
	}
	form.button:first-child {
	margin-top: 10%;
	}		
	div.info {
	height: 100%;
	}
	input {
		margin-bottom: 20%;
	}
	#info-side {
	margin-top: 20%;
	}	
} 