<html>
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="/css/main.css">

	</head>
	<body>
		<div class="w3-center w3-margin">На данный момент в базе находится <span id="sumArticle">X</span> статей</div>
		<form class="button w3-display-container w3-row" action="/html/findAtoB.html">
			<input class="w3-btn w3-light-blue w3-display-middle w3-col s10 m8 l6" type="submit" value="Поиск пути от статьи А до статьи Б"></input>
		</form>
		<form class="button w3-display-container w3-row" action="/html/segment.html">
			<input class="w3-btn w3-light-blue w3-display-middle w3-col s10 m8 l6"  type="submit" value="Представление сегмента Википедии"></input>
		</form>
		<form class="button w3-display-container w3-row" action="/html/findFromA.html">
			<input class="w3-btn w3-light-blue w3-display-middle w3-col s10 m8 l6" type="submit" value="Поиск путей от указанной статьи"></input>
		</form>
		<hr>
		<div class="w3-row">
		<div class="info w3-col l3 m8 s10">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.  
		</div>
		<div class="info w3-col l3 m8 s10">
			Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
		</div>
	</div>
	</body>
</html>